
.App {
  display: flex;
  justify-content: space-around;

  .column {
    text-align: center;

    .item {
      border: 1px solid transparent;

      &.focused {
        border: 1px solid blue;
      }
    }
  }

  .control {
    margin: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: black;
    }
  }
}
